body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.center {
  text-align: center;
}

.hidden {
  display: none;
}

.scrollable_content {
  padding-bottom: 90px;
}

.flex {
  display: flex !important;
}

ons-list-item.isDead {
  background-color: lightgray;
}

.isDead > div {
  text-decoration-line: line-through;
}

.player > div {
  justify-content: space-between;
}

ons-list-item:not(.isDead) button {
  color: white;
  border-color: #0076ff;
  background-color: #0076ff;
}
